body {
    font-family: sans-serif;
}
header{
    margin-bottom:6px ;
    border-radius: 10px;
    background-color:CornflowerBlue ;
}

nav{
    border-radius: 5px;
    border:2px solid CornflowerBlue;
    background-color: LightCyan;
}
header b{
    color: aliceblue;
}
 nav a{
margin: 5px;
color:SteelBlue;
}
footer{
 

}
footer p{
border: 3px solid CornflowerBlue;    
}
.pon{
    background-color:CornflowerBlue;
}
